@font-face {
    font-family: 'Kanit-Regular';
    src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Kanit-Regular';
    font-size:14px;
    /* background-color:#282828; */
    /* overflow: hidden; */
    /* background-color:white; */
    
    
}
.fix-body{
    align:center;
    font-family: 'Kanit-Regular';
    /* font-size:16px; */
    background-color: white;
    /* background-color: #595039; */
    width: 100%;   
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
nav{ 
    background-color: #595039;
    
}

h1 {
    font-size:24px; 
    font-weight: bold;
    color: #0175A4;
}

h2{
    font-size:16px; 
    color: #999999;
}

.row.content {height: 720px}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.header {
    z-index: 99;
    height: 80px;
    background-color: #ffffff;
    color: white;
    padding: 10px;
}

.example-avater{
    height: 220px;
    width:220px; 
    border-radius: 50%;
}

.avatar  {
    margin: 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
} 

.img-size{
    height: 220px;
    width:220px; 
}



.dropbtn {
    background-color: #26a5a5;
    color: white;
    padding: 2px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.btn-custom-green{
    margin:2px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #51b72e;
    border-color:#51b72e;
    font-size:12px;
    color:white;
}
.btn-custom-green:hover{
    
    background-color: #218838;
    border-color:#1e7e34;
    
}
.btn-custom-blue{
    
    background-color: #337ab7;
    border-color:#337ab7;
    
    color:white;
}
.btn-custom-blue:hover{
    
    background-color: #186ab6;
    border-color:#186ab6;
    
}
.btn-custom-black{
    
    margin:2px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #353535;
    border-color:#353535;
    font-size:12px;
    color:white;
}
.btn-custom-black:hover{

    background-color: #000;
    border-color:#000;
    
}

.dropdown {
    padding: 0px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #26a5a5;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgb(111, 178, 199);
}

.menu-active{
    border-top: 1px solid #ECECEC; 
    border-left: 4px solid #0175A4;
    color: #0175A4;
    font-family: 'Kanit-Regular';
    text-decoration: none;
}

.menu{
    border-top: 1px solid #ECECEC; 
    border-left: 4px solid #fff;
    font-family: 'Kanit-Regular';
    text-decoration: none;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

#sidebar-wrapper{
    top: 0px !important;
}

.logo {
    text-indent: 0px !important;
    height: 50px !important; 
    padding-left: 15px;
    padding-right:5px;
    
}

.brand-line-one {
    font-size:20px;
    font-weight: bold;
    padding: 0px;
}

.brand-line-second {
    font-size:20px;
    padding: 0px;
}

table {
    font-size:14px;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}



.padding-0 {
    
    padding: 0px;
    
}

.margin-0 {
    
    margin: 0px;
    
}

td {
    border: 1px solid #ECECEC;
    text-align: center;
    padding: 6px;
    font-weight: normal;
}

th {
    border: 1px solid #ECECEC;
    background-color: #0175A4;
    text-align: center;
    padding: 6px;
    color: #fff;
    font-weight: normal;
}
.th-debt {
    
    background-color: #4c97dc;
    
}
.th-debt-payment {
    
    background-color: #2f2f2f;
    
}
.nth-child:nth-child(odd) {
    background-color: #f9f9f9;
}

.nth-child-customer:nth-child(4n+1) {
    
    background-color: #f9f9f9;
    
}



.button {
    font-family: 'Kanit-Regular'; 
    color: #fff;
    margin: 14px 0px;
    padding: 6px 36px;
    background-color: #048DC2;
    display: inline-block;
    border: 1px solid transparent;
}
.img-detail{
    width: 200px; 
    height: auto;
}


li .navbar-nav a,li .navbar-nav a:hover {
    color: white;
    text-decoration: none !important;
}
a, a:hover {
    text-decoration: none;
}
.fa-pencil-square-o{
    color: #0099ff;
}
td > a > .fa >{
    margin:5px;
}

.button-head {
    
    border: none;
    color: white;
    padding : 4px 8px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button-head-menu {
    background-color: #eeeeee;
    color: #474747;
    
    /* border: 2px solid #555555; */
    
}

.button-head-menu:hover {
    background-color: #186ab6;
    color: white;
}

.button-head-menu-active {
    background-color: #186ab6;
    color: white !important; 
}
.button-report {
    
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.button-report-menu {
    background-color:#999999;
    color:#eeeeee;
    
    /* border: 2px solid #555555; */
    
}

.button-report-menu:hover {
    background-color: #70b451;
    color: white;
}

.button-report-menu-active {
    background-color: #70b451;
    color: white !important; 
}


.header-i-size {
    font-size:16px !important;
}
li > a > span {
    font-size:20px;
    padding:5px 40px 5px 40px;
}




.footer {
    /* padding:8px; */
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    /* background-color: #eeeeee;
    color: white; */
    text-align: center;
    color:rgba(0,0,0,0.4);
    /* font-size: 10px; */
    /* border-top: 1px solid rgba(0,0,0,0.05); */
}
.ft-detail{
    color:white;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f8f9fa;
}
.navbar-nav > .nav-item > a{
    width:100%;
}
.nav-item-style {
    /* margin:4px; */
}
.help-block{
    color:#999999;
    font-size:12px;
}
.form-group > label{
    font-size:12px;    
}
.form-group{
    text-align:left ;
}
/*//////////////////////////////////////////////////////////////*/
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
} 
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.nav>li>ul {
    list-style: none;
    padding: 0px;
}


.notify {
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgb(255, 255, 255);
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.nav>li>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 12px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.divider {
    margin: 0px !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.alert{
    position: absolute;
    background: rgb(247, 15, 15);
    color: white;
    font-size:12px ;
    border-radius: 4px;
    top:0px;
    right:15px;
    padding: 0px !important;
}

.notify-active{
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(148, 196, 235, 0.877);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
  
}
a.list-group-item, button.list-group-item {
    color: #555;
}

.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
    padding-right: 10px;
    padding-left: 10px;
}
.modal-dialog-big {
    max-width: 1300px;
    margin: 1.75rem auto;
    padding-right: 10px;
    padding-left: 10px;
}

.row-debt{
    margin:0px;
    padding-top:10px;
    padding-bottom:15px;
    background-color:#e4f2fe;
}
.row-payment{
    margin:0px;
    padding-top:10px;
    padding-bottom:15px;
    background-color:#e1e1e1;
}
.p-bold{
    font-weight: bold;
}
.span-nomal{
    font-weight: normal;
}
.align-money{
    text-align: right; 
}
.border-report{
    text-align: right; 
    border:1px solid #000;
}
/*///////////NEW///////////////*/
html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
/**************slide******************/
  .slider {
      width: 100%;
      /* margin: 0px auto; */
  }

  .slick-slide {
    margin: 0px 0.5%;
  }

  .slick-slide img {
    width: 100%;
  }

   


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }
.slick-next {
    top: -20%;
    right: 2.5%; 
}
.slick-prev {
    top: -20%;
    left: 0;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
/**************slide******************/
.icon-social-top{
    font-size:28px !important;
    color:white;text-align:center;
}
.icon-social-top-pd{
    padding:5%
}

.topic-small{ 
    font-size:20px;
} 
.topic-big{ 
    font-size:80px;
} 
.topic{ 
    font-size:40px;
} 
.detail{ 
    font-size:16px;
    word-wrap: break-word;
    text-indent: 50px;
    line-height: 2;
} 
 
.view-more{ 
    font-size:18px;
} 
.product-content{
    width:675px;
    height:2000px; 
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    display: table;  
    overflow: hidden; 
    background-color: #5d5959;
    -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);

}
.product-item{
    -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;  
    margin : 0px 50px 50px 50px; 
}
.product-top-item{ 
    margin : 0px 0px 50px 50px;  
}
.product-bottom-item{ 
    margin : 0px 50px 50px 50px; 
}
.product-item-img{ 
    width: 200px; 
}
.product-topic-mt-top{
    margin-top:-40px
}


.promotion-content{
    width:985px;
    height:985px; 
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    display: table;  
    overflow: hidden; 
    background-color: #5d5959;
    -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);

}
.promotion-item{
    -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;    
    width: 60%;
}
.promotion-detail{ 
    font-size:16px;
} 
/* .promotion-item-img{ 
    max-width: 400px; 
} */

/* .feedback-content {
    width: 50%;
    height: auto;
} */
.feedback-item{  
    max-width: 600px;
    word-wrap: break-word;
    display:inline-block;
    color:black;
}
.feedback-detail{ 
    font-size:16px;
} 
.feedback-item-img{ 
    width: 200px; 
}
.content-6{
    margin-top:-200px;
    margin-bottom:50px;
}
.feedback-user-img{
    border-radius: 50%;background-color:white;display: inline-block;
}
.mg-0{
    margin:0;
}
.pd-0{
    padding:0;
}

.ft{
    position:relative; 
    background-color: #595039;
    height:600px;
}
.ft-detail{ 
    font-size:14px;
} 
.ft-detail-pd{
    padding-top:32px;
    padding-bottom:32px;
}
.ft-detail-p{
    text-align:left;
    text-indent: 50px;
    line-height:1.8;
}
.ft-z1{
    position:absolute;
    z-index:1;
    width:2000px;
    height:800px;
    background-color:white;
    -webkit-transform: scale(1) rotate(30deg) translateX(-160px) translateY(400px) skewX(0deg) skewY(0deg); 
    overflow: hidden;
}
.ft-z1-img{
    width:1600px;
    height:auto;
    position:absolute;
    left:0px;
    top:0px;
    -webkit-transform: scale(1) rotate(-30deg) translateX(200px) translateY(-550px) skewX(0deg) skewY(0deg);
}
.ft-z2{
    position:absolute;
    z-index:2;
    width:2000px;
    height:800px; 
    background-color:transparent;
    -webkit-transform: scale(1) rotate(30deg) translateX(-160px) translateY(400px) skewX(0deg) skewY(0deg); 
    -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
    -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
}
.ft-z2-div{
    width:300px;  
    position:absolute; 
    margin-top:-75px
}
.ft-z2-div-row{
    margin:0;
    font-size:50px;
}
.ft-z2-div-row-col{
    margin:0;
    padding:0;
    padding:0 10px 0 10px;
}
.ft-z2-div-row-col-div{
    background-color:#5b5757;
    color:white;
}
.ft-z2-div-row-col-div-i{
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.ft-z3{
    position:absolute;
    z-index:3;
    background-color:transparent;  
    color:black;
    height:600px; 
    /* height: 400px; 
    width: 750px; */
    /* margin-left:100px;
    margin-top:100px; */
}
.btn-dark {
    color: #fff;
    background-color: #5d5959;
    border-color: #5d5959;
    padding-left:20px;
    padding-right:20px;
}
.white{
    color:white;
}
.black{
    color:black;
}
.pd-t-b{
    padding-top:10px;padding-bottom:10px;
}

.content-1{
    height:450px;
}
.content-2{
    height:700px;
    color:#595039;
}
.factory{ 
    color:#595039;
}
.content-4{
    margin-top:220px;
}
.content-5{
    margin-top:-450px;
    color:white;
}
.content-2-img{
    height:auto;
}
.text-slide{
    padding:0;
    margin:0;
    position: absolute;
    left: 0;  
    top: 45%;  
    width: 100%; 
    text-align: center;
    color:white;
}
.small-slide{
    position: absolute; 
    bottom: -70px; 
    right: 0px;
}
.mg-topic{
    margin-top:-60px;
    margin-bottom:-10px;
}
.content-3-topic-mg{
    margin-left:-100px;
}
.content-3-detail-mg{
    margin-left:50px;
}
.navbar-brand{
    padding: 0px 10px 0px 10px;
    margin:0px;text-align:center;
    width:200px; 
}
#logo-nav-2{
    display: none ;
    width:0%;
}
#logo-nav-2-width{
        
    width:0%;
}
.logo-div{ 
    width:100%;
}

.content-4-left{
    margin-right:300px;
}
#ft-z3-icon{
    display: none!important; 
}
.slide-item {
    height: 300px; 
}
#page-content-wrapper {
    
    margin: -1px; 
    background-image : url('../images/bg_about_2.jpg'); 
    background-repeat : no-repeat; 
    background-size : 100% ;
    z-index : 900;
    max-width: 1920px;   
}
 
/*************************About*******************************/
 

.vision-item{
    -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
    width: 100%;
    /* max-width: 600px; */
}
.about-content-1{
    padding: 0;
    background-color: transparent;
}

/********************************************************/
/***************************slide*****************************/
.main { 
    width:500px;
    display:block;
    margin:0 auto;
  }
  h3 {
      background: #fff;
      color: #3498db;
      font-size: 36px;
      line-height: 100px;
      margin: 10px;
      padding: 2%;
      position: relative;
      text-align: center;
  }
  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
  .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
  }
  .action a:hover{
    background:#000;
  }
  .factory >.col-lg-5> .col-lg-12> .detail{
    margin-left:5%;
} 
/*************************************************************/
/*//////////////////////////*/
@media only screen and (min-width: 1921px) {
    .ft{  
        top: 300px; 
    }
    .footer{
        position: relative;
        height: 900px;
        overflow: hidden;
        margin-top: -200px;
        /* max-width: 2540px; */
    }
    #page-content-wrapper{
        background-image: none;
        background:transparent;
        padding-bottom: 0% !important;
    } 
    .fix-body{
        background:transparent; 
        font-family: 'Kanit-Regular'; 
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        overflow: unset;
    }
    .full{
        background-image: url('../images/bg_about_3.jpg');
        overflow: hidden;
        background-repeat : no-repeat; 
        /* background-size : 100% ; */
        /* max-width: 2560px;  */
        background-position-x: center;
    }
 /**************** text ***********************/
 .topic {
    font-size: 50px;
}
.detail {
    font-size: 18px;
    word-wrap: break-word;
    text-indent: 50px;
    line-height: 2;
}
/**************** text ***********************/
#page-content-wrapper{
    padding-bottom: 5%;
}


.vision-content {
    margin: 236px 0;
    width: 480px;
    height: 480px;
    -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    display: table;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
}

.vision-item{
    -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
    width: 100%;
    /* max-width: 600px; */
}
 

.content-1-topic{
    color:white;
    align:right;
    margin-right:100px;
    height:440px;
    line-height: 100%;
    letter-spacing: 0.1em;
}
.factory{ 
    height: 750px;
    color:#595039;
}
.factory-topic{
    margin-left:-15%;
    margin-bottom:10%;
}
 
.factory-slide{ 
    padding-left:50px;  
    margin-top: 250px; 
    color:#595039;
}
}
@media only screen and (max-width: 1920px) {
    
    /**************** text ***********************/
    .topic {
        font-size: 50px;
    }
    .detail {
        font-size: 18px;
        word-wrap: break-word;
        text-indent: 50px;
        line-height: 2;
    }
    /**************** text ***********************/
    #page-content-wrapper{
        padding-bottom: 5%;
    }
   
    
    .vision-content {
        margin: 250px 0;
        width: 480px;
        height: 480px;
        -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        display: table;
        overflow: hidden;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    }
    
    .vision-item{
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
        width: 100%;
        /* max-width: 600px; */
    }
     
   
    .content-1-topic{
        color:white;
        align:right;
        margin-right:100px;
        height:440px;
        line-height: 100%;
        letter-spacing: 0.1em;
    }
    .factory{ 
        height: 750px;
        color:#595039;
    }
    .factory-topic{
        margin-left:-15%;
        margin-bottom:10%;
    }
     
    .factory-slide{ 
        padding-left:50px;  
        margin-top: 220px; 
        color:#595039;
    }
}
@media only screen and (max-width: 1600px) {
    .factory-topic{
        margin-left:-15%;
        margin-bottom:10%;
    }
    .vision-content{
        margin: 400px 0; 
    }
    
    .vision-content{
        margin: 150px 0;
        width:480px;
        height:480px; 
        -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        display: table;  
        overflow: hidden; 
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    
    }
    
    .vision-item{
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
        width: 100%;
        /* max-width: 600px; */
    }
     
    #page-content-wrapper{
        padding-bottom: 5%;
    }
    .content-1-topic{
        color:white;
        align:right;
        margin-right:100px;
        height:350px;
        line-height: 100%;
        letter-spacing: 0.1em;
    }
    /**************** text ***********************/
    .topic {
        font-size: 40px;
    }
    .detail {
        font-size: 16px;
        word-wrap: break-word;
        text-indent: 50px;
        line-height: 2;
    }
    /**************** text ***********************/
     
    .factory{ 
        height: 750px;
        color:#595039;
    }
    .factory-slide{ 
        padding-left:50px;  
        margin-top: 100px; 
        color:#595039;
    }
}
@media only screen and (max-width: 1440px) {
     
    
    .vision-content{
        margin: 100px 0;
        width:400px;
        height:400px; 
        -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        display: table;  
        overflow: hidden; 
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    
    }
    
    .vision-item{
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
        width: 100%;
        /* max-width: 600px; */
    }
     
    #page-content-wrapper{
        padding-bottom: 5%;
    }
    .content-1-topic{
        color:white;
        align:right;
        margin-right:100px;
        height:300px;
        line-height: 100%;
        letter-spacing: 0.1em;
    }
    /**************** text ***********************/
    .topic-big {
        font-size: 70px;
    }
    .topic {
        font-size: 40px;
    }
    .detail {
        font-size: 16px;
        word-wrap: break-word;
        text-indent: 50px;
        line-height: 2;
    } 
     /**************** text ***********************/
    .factory{ 
        height: 680px;
        color:#595039;
    }
    .factory-topic{
        margin-left:-15%;
        margin-bottom:5%;
    }
    .factory-slide{ 
        padding-left:50px;  
        margin-top: 100px; 
        color:#595039;
    }

}
@media only screen and (max-width: 1366px) {
/**************** header ***********************/
    li > a > span {
        font-size: 20px;
        padding: 5px 15px 5px 15px;
    }
/**************** header ***********************/

    .slick-prev:before, .slick-next:before { 
        font-size: 30px;
    }
    /**************** text ***********************/
     
    .topic-small{ 
        font-size:18px;
    } 
    .topic-big{ 
        font-size:50px;
    } 
    .topic{ 
        font-size:25px;
    } 
    .detail{ 
        font-size:14px;
        word-wrap: break-word;
        text-indent: 25px; 
    }
    /**************** text ***********************/
     
    
    .vision-content{
        margin: 100px 0;
        width:400px;
        height:400px; 
        -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        display: table;  
        overflow: hidden; 
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    
    }
    
    .vision-item{
        -webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg) ;   
        width: 100%;
        /* max-width: 600px; */
    }
     
    #page-content-wrapper{
        padding-bottom: 5%;
    }
    .content-1-topic{
        color:white;
        align:right;
        margin-right:100px;
        height:300px;
        line-height: 100%;
        letter-spacing: 0.1em;
    }
     
    .factory{ 
        height: 600px;
        color:#595039;
    }
    .factory-topic{
        margin-left:-15%;
        margin-bottom:5%;
    }
    .factory-slide{ 
        padding-left:50px;  
        margin-top: 100px; 
        color:#595039;
    }
}
@media only screen and (max-width: 1024px) {
    /**************** header ***********************/
    li > a > span {
        font-size: 20px;
        padding: 5px 15px 5px 15px;
    }
/**************** header ***********************/
    /**************** text ***********************/
    .topic-small{ 
        font-size:16px;
    } 
    .topic-big{ 
        font-size:30px;
    } 
    .topic{ 
        font-size:20px;
    } 
    .detail{ 
        font-size:12px;
        word-wrap: break-word;
        text-indent: 25px; 
    } 
    body{ 
        font-size:12px;  
    }
    /**************** text ***********************/
    .content-1-topic {
        color: white;
        align: right;
        margin-right: 100px;
        height: 200px;
        line-height: 100%;
        letter-spacing: 0.1em;
    }
    .vision-content {
        margin: 67px 0;
        width: 290px;
        height: 290px;
        -webkit-transform: scale(1) rotate(-45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        display: table;
        overflow: hidden;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    }
    .factory {
        height: 468px;
        color: #595039;
    }
    .factory-topic {
        margin-left: -15%;
        margin-bottom: 0%;
    }
}
@media only screen and (max-width: 992px){ 
    .navbar-brand {
        padding: 0px 10px 0px 10px;
        margin: 0px;
        text-align: center;
        width: 100%;
        /* height: 75px; */
    }
    #logo-nav-1{
        display: none !important;
    }
    #logo-nav-2{
        display: block;
        width:100%;
    }
    #logo-nav-2-width{
        
        width:100%;
    }
     
     
    .topic-small{ 
        font-size:16px;
    } 
    .topic-big{ 
        font-size:30px;
    } 
    .topic{ 
        font-size:20px;
    } 
    .detail{ 
        font-size:12px;
        word-wrap: break-word;
        text-indent: 25px; 
    } 
    body{ 
        font-size:12px;  
    }
    .view-more{
        font-size:14px;
    }
 
   
} 
@media only screen and (max-width: 768px) { 
    .align-items-end {
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .vision-item> .col-12 .d-flex{
        padding: 1%;
    }
     
    #page-content-wrapper {
        padding-bottom: 0; 
    }  
    .factory-slide {
        padding-left: 50px;
        margin-top: 0;
        padding-top :5%;
        padding-bottom: 15%;
        color: #595039;
        background-color: white;
    }
    .factory {
        height: auto;
        padding: 5% 0;
        color: #595039;
        background-color: white;
    }
    .factory-topic{ 
         
        margin: 2% auto !important;
    }

    .factory >.col-lg-5> .col-lg-12> .detail{
        margin-left:0;
    }  
    .content-1-topic {
        color: white;
        align: right;
        padding: 3% 0px;
        height: auto;
        line-height: 100%;
        letter-spacing: 0.1em;
        margin-right: 0;
    }
    .vision-content {
        margin: 0px 0;
        width: 100%;
        height: auto;
        padding: 5% 0px;
        -webkit-transform: none; 
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5);
    }
    .vision-item {
        -webkit-transform: none;
        width: 100%;
        /* max-width: 600px; */
    }
     
    .about-content-1{
        padding: 4% 7%;
        background-color: #5b5757;
    } 
     
    .logo-div{ 
        width:100%;
    }
    .icon-social-top-pd {
        padding: 5%;
        display: inline;
    }
 
     /**************** text ***********************/
    .topic-small{ 
        font-size:16px;
    } 
    .topic-big{ 
        font-size:30px;
    } 
    .topic{ 
        font-size:20px;
    } 
    .detail{ 
        font-size:12px;
        word-wrap: break-word;
        text-indent: 25px; 
        margin-left:0;
    } 
  /**************** text ***********************/
 
  

    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    /* .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    } */
      /**************** footer ***********************/
    .ft-z2-div {
        width: 180px;
        position: absolute;
        margin-top: -37.5px;
    }
    .ft-z2-div-row {
        margin: 0;
        font-size: 25px;
    }
    .ft-z1 {
        position: absolute;
        z-index: 1;
        width: 2000px;
        height: 800px;
        background-color: white;
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        overflow: hidden;
    }
    .ft-z2-div-row-col-div-i {
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    .ft-z1 {
        display: none;
    }
    .ft-z2 {
        display: none;
    }
    /* .footer {
        margin-top: -100px;
        padding-bottom: 140px;
    } */
    .ft-z3 {
        margin-top: 0px;
    }
    .ft-z3 .d-flex .align-items-center {
        -ms-flex-align: normal!important;
        align-items: normal!important; 
    }
    .footer {
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .ft {
        position: unset;
        background-color: #595039;
        height: auto;
    }
    .ft-detail {
        /* color: black; */
        background-color: #595039;
        padding-bottom: 0px;
    }
    #ft-z3-icon{
        display: flex!important; 
        margin-left: 30px;
        width: 200px;
        font-size: 30px;
    } 
    .ft-z3 > .row > .col-lg-7 { 
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
    } 
     /**************** footer ***********************/

}
@media only screen and (max-width: 640px) {
    
    .icon-social-top {
        font-size: 22px !important;
        color: white;
        text-align: center;
    }
    
    
    .ft-z2-div {
        width: 180px;
        position: absolute;
        margin-top: -37.5px;
    }
    .ft-z2-div-row {
        margin: 0;
        font-size: 25px;
    }
    .ft-z1 {
        position: absolute;
        z-index: 1;
        width: 2000px;
        height: 800px;
        background-color: white;
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        overflow: hidden;
    }
    .ft-z2-div-row-col-div-i {
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
    .ft-z1 {
        display: none;
    }
    .ft-z2 {
        display: none;
    }
    .footer {
        margin-top: -100px;
        padding-bottom: 140px;
    }
    .ft-z3 {
        margin-top: 0px;
    }
    .ft-z3 .d-flex .align-items-center {
        -ms-flex-align: normal!important;
        align-items: normal!important; 
    }
    .footer {
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .ft {
        position: unset;
        background-color: #595039;
        height: auto;
    }
    .ft-detail {
        /* color: black; */
        background-color: #595039;
        padding-bottom: 0px;
    }
    #ft-z3-icon{
        display: flex!important; 
        margin-left: 30px;
        width: 200px;
        font-size: 30px;
    } 
    .ft-z3 > .row > .col-lg-7 { 
        -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
        -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
        box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.5); 
    } 
  
}
@media only screen and (max-width: 480px) { 
    #page-content-wrapper {
        padding-bottom: 80px;
    }
    .factory-slide {
        padding: 0 1%;
        margin-top: 0;
        padding-top: 5%;
        padding-bottom: 15%;
        color: #595039;
        background-color: white;
    }
 
} 
@media only screen and (max-width: 320px) {
    .slick-prev:before, .slick-next:before {
        font-size: 24px;
    }
    .content-1-topic {
        color: white;
        align: right;
        padding: 6% 0px;
        height: auto;
        line-height: 100%;
        letter-spacing: 0.1em;
        margin-right: 0;
    }
    #page-content-wrapper {
        padding-bottom: 135px;
    }
 
}


